#customer-id {
    width: 1440px;
    margin: 0 auto;
}

.customer {
    margin-left: 150px;
    margin-right: 150px;
}

.customer-title-container {
    position: relative;
}

.customer-title {
    font-family: 'Overlock', cursive;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    margin-top: 126px;
    margin-bottom: 102px;
}

.customer-underline {
    height: 26px;
    width: 215px;
    position: absolute;
    top: 37px;
    left: 505px;
}

.customer-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 164px;
}
